NODE_ENV=
PORT=

RATE_LIMIT_TTL=

CORS_CLIENT_URL=

COOKIE_HTTP_ONLY=
COOKIE_PATH=
COOKIE_SAME_SITE=

SESSION_SECRET=
SESSION_TTL=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
